{% extends "base.html" %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="http://cdn.webix.com/edge/webix.css">
<script type="text/javascript" src="http://cdn.webix.com/edge/webix.js"></script>
{% endblock %}


{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {{data}}
<a href="{{ url_for('settings') }}">Click to Register!</a>

{% endblock %}

{% block end_links %}

<script type="text/javascript" src="./application/js/admin.js"></script>
{% endblock %}
