{% extends "base.html" %} {% block header_links %}
<link rel="stylesheet" type="text/css" href="http://cdn.webix.com/edge/webix.css">
<script src="http://cdn.webix.com/edge/webix.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %} {% block content %}

<script type="text/javascript" src="{{
    url_for('static', filename='js/data.js') }}"></script>
<script type="text/javascript" src="{{
    url_for('static', filename='js/admin.js') }}"></script>


</script>



{% endblock %} {% block end_links %} {% endblock %}