<html>
<head>
    {% if title %}
    <title>{{ title }} - katka</title>
    {% else %}
    <title>Katka</title>
    {% endif %}
    {% block header_links %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
<div>
    KatkaAPP:
    <a href="{{ url_for('index') }}">Home</a>

    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    {% if current_user.is_admin() %}
    <a href="{{ url_for('admin') }}">Admin Page</a>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
{% block end_links %}{% endblock %}
</body>
</html>